body{

margin:0;

background:black;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

color:white;

overflow:hidden;

}

.box{

text-align:center;

}

h1{

font-size:60px;

animation:
pulse 2s infinite;

}

button{

padding:15px 30px;

font-size:20px;

cursor:pointer;

}

#pesan{

margin-top:20px;

font-size:28px;

}

body::before{

content:"❤️ ❤️ ❤️ ❤️ ❤️";

position:absolute;

top:-50px;

left:0;

width:100%;

font-size:40px;

animation:
fall 8s linear infinite;

}

@keyframes fall{

from{

transform:
translateY(-100px);

}

to{

transform:
translateY(120vh);

}

}

@keyframes pulse{

50%{

transform:
scale(1.1);

}

}
