body{

margin:0;

background:
linear-gradient(
to bottom,
#140015,
black
);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

color:white;

}

.box{

text-align:center;

animation:
muncul
2s;

}

h1{

font-size:70px;

animation:
kedip
2s infinite;

}

button{

padding:15px 30px;

border:none;

border-radius:50px;

background:
hotpink;

cursor:pointer;

}

#pesan{

margin-top:30px;

font-size:30px;

opacity:0;

animation:
none;

}

#pesan:not(:empty){

opacity:1;

animation:
fade
2s;

}

body::before{

content:
"🌸 🌸 🌸 🌸 🌸 🌸";

position:absolute;

top:-100px;

left:0;

font-size:40px;

width:100%;

animation:
jatuh
8s linear infinite;

}

@keyframes jatuh{

from{

transform:
translateY(-100px);

}

to{

transform:
translateY(120vh);

}

}

@keyframes kedip{

50%{

opacity:.5;

}

}

@keyframes fade{

from{

opacity:0;

}

to{

opacity:1;

}

}

@keyframes muncul{

from{

transform:
scale(.5);

opacity:0;

}

to{

opacity:1;

}

}
